<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.madness.madness" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/red_devil"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MadnessGameActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SalaDeEstarActivity"></activity>
        <activity android:name=".MadnessInstrucoesActivity"></activity>
        <activity android:name=".CasaDoAmigoActivity"></activity>
        <activity android:name=".CozinhaActivity"></activity>
        <activity android:name=".DormitorioActivity"></activity>
        <activity android:name=".FimActivity"></activity>
        <activity android:name=".PlantaDaCasaActivity"></activity>
        <activity android:name=".PoraoActivity"></activity>
        <activity android:name=".QuartoActivity"></activity>
        <activity android:name=".RuaActivity"></activity>
        <activity android:name=".SalaActivity"></activity>
        <activity android:name=".TabuleiroActivity"></activity>
        <activity android:name=".WinActivity"></activity>
    </application>

</manifest>
